/**Selector Specifity: (0,0,1)*/
body {
  font-family: Courier, monospace; 
  font-size: 1rem;
  line-height: 1.8;
  background-color: darkslateblue;
  color: black;
  margin-left: 10pc;
  margin-right: 10pc;
}

/**Selector Specifity: (0,0,1)*/
h1{
  background-color: indigo; 
  color: #fff;
  border-radius: 3rem;
  text-transform: uppercase;
  padding: 9rem 2rem;
  text-align: center;     
}

/**Selector Specifity: (0,0,1)*/
h2{
  background-color: dodgerblue;
  color:black;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  text-indent: 2rem;
  text-transform: uppercase;
}

/**Selector Specifity: (0,0,1)*/
footer{
  background-color: indigo; 
  color: #fff;
  border-radius: 1rem;
  text-align: right;
  padding-right: 3rem;
}

/**Selector Specifity: (1,0,0)*/
#cast {
  width: 100%;
}

/**Selector Specifity: (0,0,1)*/
th, td{
  border-bottom: 1px solid ghostwhite;
}

/**Selector Specifity: (0,0,1)*/
th{
  height: 3rem;
  font-size: larger;
}

/**Selector Specifity: (0,0,1)*/
td{
  height: 4rem;
  text-indent: 1rem;
  padding-right: 2rem;
}

/**Selector Specifity: (0,0,1)*/
nav{
  background-color: indigo;
  border-radius: 3rem;
  text-align: left;
  margin-bottom: 2rem;
}

/**Selector Specifity: (0,0,2)*/
nav a{
  display: inline-block;
  color:ghostwhite;
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

/**Selector Specifity: (0,1,2)*/
nav a:hover{
  background-color: turquoise;
  color: black;
  border-radius: 25px;
}

/**Selector Specifity: (0,0,1)*/
section{
  background-color: blanchedalmond;
  color: black;
  text-align: justify;
  border-radius: 2rem;
  text-indent: 2rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

/**Selector Specifity: (1,0,0)*/
#poster1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/**Selector Specifity: (1,0,0)*/
#poster2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 5px;
}

/**Selector Specifity: (1,0,0)*/
#trailer{
  border-radius: 1rem;
  width: 20rem;
}

/**Selector Specifity: (1,0,1)*/
#bloqueEfectos p{
  text-align: center;
  text-indent: 0cm;
}

/**Selector Specifity: (1,0,0)*/
#efectos{
  width: 20%;
}

/**Selector Specifity: (1,0,2)*/
#cast tr td{
  border: 1px solid ghostwhite
}

/**Selector Specifity: (0,0,1)*/
aside{
  text-align: center;
}

/**Selector Specifity: (1,0,0)*/
#serieOriginal{
  width: 40%;
}

/**Selector Specifity: (1,0,0)*/
#fotoReview1{
  width: 6rem;
  border-radius: 10px;
}

/**Selector Specifity: (1,0,0)*/
#review1{
  padding-right: 20%;
  text-align: center;
}

/**Selector Specifity: (1,0,1)*/
#review1 td{
  border: 1px solid black;
}

/**Selector Specifity: (1,0,1)*/
#review1 th{
  border: 1px solid black;
}

/**Selector Specifity: (1,0,0)*/
#fotoReview2{
  width: 6rem;
  border-radius: 10px;
}

/**Selector Specifity: (1,0,0)*/
#review2{
  padding-right: 20%;
  text-align: center;
}

/**Selector Specifity: (1,0,1)*/
#review2 td{
  border: 1px solid black;
}

/**Selector Specifity: (1,0,1)*/
#review2 td{
  border: 1px solid black;
}